/* Global Site Settings */
body {
  font-family: "Droid Sans", Verdana, Arial, Helvetica;
  background: #020010 url("./mountains.jpg") repeat-x fixed;
  margin: 0px;
  padding: 0px;
}
/* Main Navigation Menu */
nav {
  position: fixed;
  top: 0em;
  padding: 1em 0em 0em 1em;
}

#menu, #menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
#menu a {
  display: block;
  width: 10em;
  text-decoration: none;
  color: #020010;
}
#menu a.icon {
  padding-bottom: 2em;
}
#menu li {
  float: left;
  width: 10em;
}
#menu li ul {
  position: absolute;
  width: 10em;
  left: -999em;
}
#menu li:hover ul {
  left: auto;
}
#menu li ul li {
  padding: .5em;
  background: #fff;
}
#menu li ul li:first-child {
  border-radius: 5px 5px 0px 0px;
}
#menu li ul li:last-child {
  border-radius: 0px 0px 5px 5px;
}
#menu li ul li:hover {
  /*background: #050029;*/
  background: #040032;
}
#menu li ul li:hover a {
  color: #ccc;
}
#menu li ul li:after { 
  bottom: 100%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; 
}
#menu li ul li:after { 
  border-color: rgba(225, 225, 225, 0); 
  border-bottom-color: #fff;
  border-width: 10px; 
  left: 16%; 
  margin-left: -10px; 
} 
.big {
  font-size: 2.5em;
  font-family: "Droid Sans Mono","Lucida Console", Monaco, monospace, Courier;
  background: rgba(225, 225, 225, 0.2);
  padding-right: .3em;
  padding-left: .3em;
}
/* Header Styling */
header {
  text-align: center;
  color: #fff;
  text-shadow:2px 2px 1px #333;
  margin: 10em 0em 8em 0em;
  width: 100%;
  clear: none;
}
header h1 {
  font-size: 3em;
}
/* Main Content Area Styling */
#content {
  width: 70%;
  margin: 0 auto;
}
article {
  color: #fff;
  background: rgba(2, 0, 16, 0.2);
  text-align: left;
  margin: 1em;
  padding: .5em 1em .5em 1em;
}
/* Footer Styling */
footer {
  color: #020010;
  padding: 1em;
  background: white;
  height: 300px;
}
img.avatar {
  border: 1px #ad9dc2 solid;
  padding: 0.6em;
  box-shadow: 0px 0px 6px 0px inset;
  vertical-align: text-top;
  float: left;
  margin-right: .5em;
  background: #eee;
}
#paper {
  background:  url("tornpaper.png") repeat-x;
  height: 3em;
}
#query {
  padding: .5em;
}
.col-1-3, .col-2-3, .col-3-3 {
  float: left;
  width: 33%;
  margin-right: -100%;
  background: white;
}
.col-1-3 {
  margin-left: 0%;
}
.col-2-3 {
  margin-left: 33%;
  padding-left: 1.3em;
}
.col-3-3 {
  margin-left: 66%;
  padding-left: 1.3em;
}
/* Mobile Phone Specific Styling */
@media only screen and (max-width: 480px) {
  body {
    background-attachment: scroll;
  }
  #content {
    width: 100%;
  }
  header {
    margin: 4.5em 0em 1em 0em;
  }
  footer {
    height: 30em;
  }
  .col-1-3, .col-2-3, .col-3-3 {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
